.home {
  font-family: "Montserrat", sans-serif;
}

.home > .inner {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
